/*.minha-div {
    display: block;
    width: 200px;
    height: 200px;
    background-color: lightblue;
    margin-left:  200px;
    margin-right: 200px;
}*//*.meu-spam {
    display: inline;
    background-color: yellow;
}/*.meu-spam {
    display: inline-block;
    width: 200px;
    background-color: yellow;
}*//*.elemento-escondido {
    display: none;
}*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
    gap: 10px;
} 
.meu-spam {
    width: 600px;
    height: 400px;
    background-color: brown;
    padding: 10px
   }
@media (min-width: 768px) and (orientation: portrait){
  .meu-spam {
    height: 400px;
    background-color: brown;
    padding: 20px
   }

}
@media(max-width: 768px){
 .container {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
    gap: 20px;
}
  .meu-spam {
   width: 200px;
   height: 400px;
   background-color: brown;
   padding: 20px;
   margin-bottom: 20px;
  }  
}
