/*.container{
     display: grid;
     background-color: lightgreen;
     padding: 10px;
     grid-template-columns: auto auto auto;
     gap: 20px;
}
.meu-spam {
 background-color: brown;
 border: 1px solid #ccc;
 padding: 10px;

}

.container{
  display: grid;
  grid-template-areas:
    "header header "
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 3px;
  background-color: dodgerblue;
  padding: 5px;
}
.container div {
  background-color: white;
  padding: 10px;
}
.container div.header {
  grid-area: header;
  text-align: center;
}
.container div.menu {
  grid-area: menu;
}
.container div.content {
  grid-area: content;
}
.container div.footer {
  grid-area: footer;
  text-align: center;  
}
:root{
   --main-bg-color: lightblue;
   --main-text-color: darkblue;

}
.container {
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  width: 100%;
  border: 5px solid navy;
  padding: 20px;
}*/
.botao {
  color: white;
  background-color: blue;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  margin: 5px;

}


